/* Custom styles for PrimeCodeSolutions */
/*#021526*//*#03346E*//*#6EACDA*//*#E2E2B6*/




body {
    padding-top: 10px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
    background-color: #3c6eaa;
}
.navbar{
    background-color: #03346E!important;
    color: white;
    border-radius: 10px;
    border: 0.02px solid #021526;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.navbar-brand{

    color: white!important;
    
        
}
.bg-primary{
    background-color: azure!important;
}
/*carrusell*/
.carousel-item {
    height: 70vh;
    min-height: 100px;
    background: #ddd;
    /* Fondo gris claro por defecto */
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.carousel-caption {
    bottom: 30%;
    color: white;
}


/*Footer*/
.bg-dark {
    background-color: #021526!important; /* footer */
    color: #ffffff; /* Texto blanco */
    text-align: center;
  
    
}
.nav-link{
    color: white!important;
}
.footer-link {
    color: #ffffff; /* Color del enlace en el footer */
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.footer-link:hover {
    text-decoration: underline;
}
.linkedin-icon {
    border-radius: 2px;
    width: 20px;
    /*Anchodelicono*/height: 20px;
    /*Altodelicono*/background-color: #ffffff;
    /*Fondoblanco*/fill: #03346E;
    /*Colordelicono*/margin-right: 10px;
    /*Espacioentreeliconoyeltexto*/-webkit-border-radius: 10px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*Inicio card de cv*/
.card-full-width {
    width: 100%;
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}
.card-header {
    background-color: #003366; /* Azul Profundo */
    color: #FFFFFF;
}
.card-header:hover{
    color: #FF6F61;
}
.card-body {
    background-color: #F5F5DC; /* Beige Cálido */
}


.whatsapp-btn {
    color: #25D366;
    /* Verde de WhatsApp */
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 10px;
}

.whatsapp-btn:hover {
    color: #128C7E;
}
/*fin card de cv*/
.btn-primary{
    background-color: #6B8E23;
}
.btn-primary:hover{
    background-color: #FF6F61;
}
/*para el texto del pie de la imagen*/
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el texto verticalmente */
text-align: justify;
}

.card-body p {
    margin-bottom: 0;
}

.row {
    display: flex;
}

.col-md-4, .col-md-8 {
    height: 100%;
}



/* Estilos generales para el botón */
.arrow-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 10px;
    /*Eliminarelsubrayadodelenlace*/color: #fff;
    background-color: #6B8E23;
    /*Colordefondodelbotón*/border: 2px solid #6B8E23;
    /*Colordelbordedelbotón*/border-radius: 10px;
    /*Bordesredondeados*/position: relative;
    transition: background-color 0.3s, color 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Flecha dentro del botón */
.arrow-button::before {
    content: "\f061"; /* Código Unicode para la flecha hacia la derecha en FontAwesome */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    margin-right: 8px; /* Espacio entre la flecha y el texto */
    display: inline-block;
    transition: transform 0.3s;
}

/* Estilo al pasar el mouse sobre el botón */
.arrow-button:hover {
    background-color: #FF6F61; /* Color de fondo al pasar el mouse */
    color: #fff; /* Color del texto al pasar el mouse */
    text-decoration: none; /* Asegurar que no haya subrayado en hover */
}

/* Estilo para el botón de "Anterior página" */
.arrow-button.arrow-button-left {
    background-color: #6B8E23; /* Color de fondo para el botón de "Anterior página" */
    border-color: #6B8E23; /* Color del borde para el botón de "Anterior página" */
}

/* Efecto al pasar el mouse sobre el botón de "Anterior página" */
.arrow-button.arrow-button-left:hover {
    background-color: #FF6F61; /* Color de fondo al pasar el mouse para "Anterior página" */
    text-decoration: none; /* Asegurar que no haya subrayado en hover */
}

/* Flecha para el botón de "Anterior página" */
.arrow-button.arrow-button-left::before {
    content: "\f060"; /* Código Unicode para la flecha hacia la izquierda en FontAwesome */
    margin-right: 0; /* Eliminar el margen a la derecha */
    margin-left: 10px; /* Espacio entre la flecha y el texto */
}


/* Estilo por defecto para todos los dispositivos */
#home {
    display: block; /* O el estilo que prefieras por defecto */
  }
  
  /* Ocultar el div en pantallas con ancho máximo de 768px (típico para móviles) */
  @media (max-width: 768px) {
    #home {
      display: none;
    }
  }
