/* Paleta de colores aplicada directamente */
body {
    padding-top: 10px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
    background-color: rgb(0 12 12);
}

.navbar {
    background-color: rgba(7, 13, 13, 1);
    color: rgba(27, 121, 110, 0.445);
    border-radius: 10px;
    border: 0.03px solid rgb(49, 143, 33);
}

.nav-link {
    color: rgb(6, 9, 20);
}

.nav-link:hover {
    color: rgb(13, 4, 34); /* Color de hover para navbar */
}

.footer-link {
    color: rgba(125, 249, 255, 1);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

/* Cards */
.card-header {
    background-color: rgba(7, 13, 13, 1);
    color: rgb(216, 208, 208);
}

.card-header:hover {
    color: rgba(55, 247, 19, 1);
}

.card-body {
    background-color: rgb(252, 244, 244);
}

.alt-card-body {
    background-color: rgba(204, 204, 204, 1); /* Fondo alternativo para otras secciones */
}

/* Botón Flecha */
.arrow-button {
    background-color: rgba(125, 249, 255, 1);
    color: rgba(7, 13, 13, 1);
    border: 2px solid rgba(125, 249, 255, 1);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Estilo para el botón de navegación de página */
.special-button {
    background-color: rgb(20, 5, 29); /* Fondo en color de acento */
    color: rgb(248, 245, 245); /* Texto blanco */
    border: 3px solid rgb(55, 167, 35); /* Borde en el mismo color de fondo */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.special-button:hover {
    background-color: rgba(7, 13, 13, 1); /* Fondo azul oscuro en hover */
    color: rgb(116, 79, 79);
}
.custom-btn {
    background-color: rgb(116, 79, 79); /* Color base */
    color: rgba(255, 255, 255, 1); /* Color del texto */
    border-color: rgb(2, 21, 27); /* Color del borde */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.custom-btn:hover {
    background-color: rgb(255, 100, 130); /* Color al hacer hover */
    color: rgba(255, 255, 255, 0.9); /* Cambia ligeramente el texto si lo deseas */
}

