:root {
    --primary-color: #03346E;
    --secondary-color: #3C6EAA;
    --hover-color: #C4827D; /* Hover más acentuado */
    --bg-dark-color: #021526;
    --text-light-color: #ffffff;
    --beige-bg-color: #F5F5DC; /* Beige claro */
    --alt-bg-color: #E8E8E8; /* Gris claro para secciones alternativas */
}

body {
    padding-top: 10px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
    background-color: var(--secondary-color);
}

.navbar {
    background-color: var(--primary-color) !important;
    color: var(--text-light-color);
    border-radius: 10px;
    border: 0.02px solid var(--bg-dark-color);
}

.nav-link {
    color: var(--text-light-color) !important;
}

.nav-link:hover {
    color: var(--hover-color); /* Color de hover para navbar */
}

.footer-link {
    color: var(--text-light-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

/* Cards */
.card-header {
    background-color: var(--primary-color);
    color: var(--text-light-color);
}

.card-header:hover {
    color: var(--hover-color);
}

.card-body {
    background-color: var(--beige-bg-color);
}

.alt-card-body {
    background-color: var(--alt-bg-color); /* Fondo alternativo para otras secciones */
}

/* Botón Flecha */
.arrow-button {
    background-color: var(--secondary-color);
    color: var(--text-light-color);
    border: 2px solid var(--secondary-color);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
